<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create user</title>
</head>
<body>
    <form th:method="POST" th:action="@{/admin}" th:object="${user}">
        <label for="name">Name: </label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <label for="lastName">Last Name: </label>
        <input type="text" th:field="*{lastName}" id="lastName"/>
        <br/>
        <label for="username">Username: </label>
        <input type="text" th:field="*{username}" id="username"/>
        <br/>
        <label for="password">Password: </label>
        <input type="password" th:field="*{password}" id="password"/>
        <br/>
        <label for="email">Email: </label>
        <input type="text" th:field="*{email}" id="email"/>
        <br/>
        <br/>
        <input  type="submit" value="add new user">
    </form>
</body>
</html>